* {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      vertical-align: baseline;
      font-size: 100%;
}
@font-face {
  font-family: IntroIn;
  src: url("../../fonts/Intro-Inline/Intro_Inline.ttf");
}

html {
      font-family: Poppins;
}

body {
      width: 100%;
       background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.wrapper {
      width: 90%;
      margin: 0 auto;
}

.navBar::after {
      content: "";
      clear: both;
      display: table;
}

h1 {
      color: #fff;
      font-size: 48px;
}

p {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
}

/* navbar */

nav {
      height: 70px;
      line-height: 70px;
}

nav a img {
      vertical-align: middle;
      width: 30px;
      height: 30px;
}

nav a:nth-child(2) {
      float: right;
}

/* header */

header {
      margin: 100px 0 200px 120px;
}

header p {
      width: 60%;
      margin-top: 10px;
}

/* .work */

.work {
      text-align: center;
      width: 100%;
}

.work img {
      margin: 1%;
      width: 45%;
}

/* header2 */

.header2 {
      margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
      width: 100%;
      text-align: center;
}

.work2 img {
      margin: 1%;
      width: 94%;
}

/* footer */
footer p {
      text-align: center;
      color: grey;
      margin: 60px auto;
}

/* Responsiveness */

@media only screen and (max-width: 991px) {
      header {
            text-align: left;
            margin: 100px 0 100px 30px;
      }

      header h1 {
            font-size: 36px;
      }

      header p {
            font-size: 12px;
            width: 90%;
      }

      .work img {
            margin: 2%;
            width: 90%;
      }

      .header2 {
            margin: 130px 0 40px 12px;
      }

      .header2 h1 {
            font-size: 36px;
      }

      .header2 p {
            font-size: 12px;
            width: 90%;
      }

      .work2 img {
            margin: 2%;
      }
}


.section-hamburger {
		display: flex;
  position: absolute;
	left: 45%;
	margin: auto;
	top: -3%;
	
	
}
	

.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
	top: 26%;
  z-index: 4;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  width: 20px;
  height: 2px;
  background-color: #222;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.menu-btn span::before {
  transform: translateY(-5px);
}

.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span {
  height: 0;
}

.menu-btn_active span:before {
  transform: rotate(45deg);
}

.menu-btn_active span:after {
  transform: rotate(-45deg);
}
.menu-block {
  position: relative;
}
.menu a {
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: .4s;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  z-index: 0;
}
.menu a:nth-child(1) {
  transition-delay: 0.1s;
}
.menu a:nth-child(2) {
  transition-delay: 0.2s;
}
.menu a:nth-child(3) {
  transition-delay: 0.3s;
}
	.menu a:nth-child(4) {
  transition-delay: 0.4s;
}
.menu_active a:nth-child(1) {
  transform: translate(150%, 0%);
}
.menu_active a:nth-child(2) {
  transform: translate(100%, 100%);
}
.menu_active a:nth-child(3) {
  transform: translate(-150%, 0%);
}
	.menu_active a:nth-child(4) {
  transform: translate(-50%, 100%);
}
	
